.contaniner {
    width: 30%;
    margin: 0 auto; 
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contendor-table {
    margin: 20px;
    
}

.contenido-texto{
    margin: 20px;
    
}

.cardview {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilos para las tablas */
.table1 {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #bbbbbb;

}
.table2 {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #bbbbbb;
    margin-bottom: 20px;

}

.thAncho{
   width: 389px;
}

th,
td {
    border: 1px solid #856a6a;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.h2Centrado {
    text-align: center;

}

.header{
    padding: 10px 20px;
    background-color: #15359B;
    color: #ffffff; 
    margin-bottom: 20px; 
}
.ImagenLogo{
   width:200px ;
   height:200px;
   display: block;
   margin: 0 auto;
}
