/** Ocultar el radio button  */

/** Clase del div, donde estan las estrellas */

.form_valoracion textarea:focus {
    box-shadow: none;
    border-color: gray;
}


.estrellas_calificaion>input {
    display: none;

}

.estrellas_calificaion {
    position: relative;
    display: inline-block;
    border: 0;
}

.estrellas_calificaion>label {
    float: right;
}

.estrellas_calificaion>label:before {
    display: inline-block;
    font-size: 1.4rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

.estrellas_calificaion .mitad:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}


input:checked~label,
label:hover~label {
    color: #ffb503;
}


input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}



