{% load static %}
<div class="text-secondary bg-nav">
  <div class="container-fluid my-4 d-lg-flex align-items-center text-center gap-2">
    <a class="navbar-brand" href="{% url 'panel_admin' %}"><img src="{% static 'img/logo.svg' %}" alt="logo" width="180px" /></a>
    <ul class="nav mb-2 mb-lg-0 colors-texto me-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Historial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_productos' %}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_categorias' %}">Categorías</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pedido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pagos</a>
      </li>
    </ul>
    <div class="d-flex ml-auto">
        {% if user.is_authenticated %}
          <small class="py-0 my-0 mx-1">
            Bienvenido <strong>{{ user.nombre}}</strong>
          </small>
        {% endif %}

      <li class="nav-item dropdown list-unstyled">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="30" alt="Avatar" /></a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">Perfil</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</div>
