<!-- canva carrito de compras -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title fs-4 fw-semibold" id="offcanvasExampleLabel">Carrito de compras</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  {% if not articulo_carrito %}
    <hr />
    <h2 class="text-muted text-center">El carrito de compras esta vacío</h2>
    <br />
    <div class="text-center">
      <a href="{% url 'tienda' %}" class="btn btn-dark">Continuar comprando <i class="fa-solid fa-store"></i></a>
    </div>
  {% else %}
    <div class="offcanvas-body">
      {% for articulo in articulo_carrito %}
        {% if articulo.producto.categoria.descuento %}
          <div class="card mb-3 border-2 border-secondary-subtle">
            <div class="row g-0">
              <img src="{{ articulo.producto.imagen.url }}" alt="imagen producto carrito" class="img-fluid rounded-3 mx-auto mt-2 w-50" />
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="card-title fs-5">{{ articulo.producto.nombre }}</h6>
                  <a href="{% url 'eliminar_producto_carrito' articulo.producto.id articulo.id %}" class="btn btn-sm mb-2 btn-outline-danger"><i class="fa-solid fa-trash fa-xl"></i></a>
                </div>

                <div class="d-flex justify-content-between">
                  <div class="">
                    <p class="mb-0">${{ articulo.sub_total }}</p>
                    <del class="text-muted">
                      <small class="text-muted">${{ articulo.producto.precio }}</small>
                    </del>
                  </div>
                  <div class="mt-2 w-50">
                    <div class="input-group">
                      <a href="{% url 'eliminar_cantidad' articulo.producto.id articulo.id %}" class="btn btn-primary"><i class="fa-solid fa-minus fa-lg"></i></a>
                      <input type="number" value="{{ articulo.cantidad }}" class="form-control form-control-sm" />
                      <a href="{% url 'add_carrito' articulo.producto.id %}" class="btn btn-primary"><i class="fa-solid fa-plus fa-lg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="card mb-3 border-2 border-secondary-subtle">
            <div class="row g-0">
              <img src="{{ articulo.producto.imagen.url }}" alt="imagen producto carrito" class="img-fluid rounded-3 mx-auto mt-2 w-50" />
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="card-title fs-5">{{ articulo.producto.nombre }}</h6>
                  <a href="{% url 'eliminar_producto_carrito' articulo.producto.id articulo.id %}"><i class="fa-solid fa-xmark fa-xl" style="color: #333333;"></i></a>
                </div>

                <div class="d-flex justify-content-between">
                  <div class="">
                    <p class="mb-0">${{ articulo.sub_total }}</p>
                    <small><p class="text-muted">${{ articulo.producto.precio }}</p></small>
                  </div>
                  <div class="mt-2 w-50">
                    <div class="input-group">
                      <a href="{% url 'eliminar_cantidad' articulo.producto.id articulo.id %}" class="btn btn-primary"><i class="fa-solid fa-minus fa-lg"></i></a>
                      <input type="number" value="{{ articulo.cantidad }}" class="form-control form-control-sm" />
                      <a href="{% url 'add_carrito' articulo.producto.id %}" class="btn btn-primary"><i class="fa-solid fa-plus fa-lg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="offcanvas-footer p-3 text-white">
      <div class="d-flex justify-content-between mt-2">
        <h6>Articulos</h6>
        <h6 class="text-white">{{ contar_productos }}</h6>
      </div>
      <div class="d-flex justify-content-between">
        <h6>Total</h6>
        <h6 class="text-white">$ {{ total }}</h6>
      </div>
      <div class="d-flex justify-content-between my-3">
        <a class="btn btn-dark" href="{% url 'mostrar_carrito' %}">Ver Carrito</a>
        <a class="btn btn-dark" href="{% url 'realizar_pedido' %}">Realizar Pedido</a>
      </div>
    </div>
  {% endif %}
</div>
