<div class="modal fade" id="modalModificar" tabindex="-1" aria-labelledby="modalModificar" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen w-75 h-auto mx-auto mt-5">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalModificar">Modificar un producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'actualizar_producto' producto.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row p-md-4">
              {% for field in form %}
                <div class="col-12 col-md-6 mb-3">{{ field.label_tag }}
                  {{ field }}</div>
              {% endfor %}
              {% if form.errors %}
                <ul class="d-flex flex-column list-unstyled">
                  {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                      <small><i class="fa-solid fa-circle-exclamation" style="color: #c60c0c;"></i> {{ error }}</small>
                    {% endfor %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning">Modificar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>