{% extends 'base.html' %}
{% block content %}
  <div>
    <div class="w-25 my-2 mx-5 position-absolute top-0 end-0 z-1">
      {% include 'client/include/alertas.html' %}
    </div>
    <div class="card border-dark border-opacity-50 col-md-10 col-lg-6 rounded-4 text-dark mx-auto my-3">
      <h2 class="text-center mt-3">Registrarse</h2>
      <form action="{% url 'registrarse' %}" method="POST" id="form_registrarse" class="row g-3 p-3 form_registrarse">
        {% csrf_token %}
        <div class="d-flex">
          <div class="row">
            {% for field in form %}
              <div class="col-12 col-md-6 mb-3">{{ field.label_tag }}
                {{ field }}</div>
            {% endfor %}
            <div>
              {% if form.errors %}
                <ul class="d-flex flex-column list-unstyled">
                  {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                      <small><i class="fa-solid fa-circle-exclamation" style="color: #c60c0c;"></i> {{ error }}</small>
                    {% endfor %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="my-4 d-flex justify-content-center">
          <button class="btn btn-secondary col-6 rounded-pill fw-semibold fs-5" type="submit" onclick="disabled(this)">Registrarse</button>
        </div>
        <div class="text-center">
          <p>
            ¿Ya tienes una cuenta?
            <a href="{% url 'inicio_sesion' %}" class="link-secondary text-decoration-none link-opacity-100-hover fw-semibold">Iniciar sesión</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  <script>
    function disabled(x) {
        x.disabled = true
    }
  </script>
{% endblock %}
